@charset "utf-8";

body {
    text-align: center;
}

#cal {
    background-color: #F2F3F4;
    width: 350px;
    height: 500px;
}

#cal #pant {
    background-color: #616A6B;
    height: 20%;
    font-size: 5rem;
    text-align: right;
    color: white;
    overflow: hidden
}

#op1 {
    height: 16%;
    width: 100%;
    font-size: 2rem;
    display: table;
}

#op1 div {
    height: 100%;
    width: 23%;
    display: table-cell; vertical-align: middle;
    border: #616A6B 1px solid;
}

#op2 {
    height: 16%;
    width: 100%;
    font-size: 2rem;
    display: table;
}

#op2 div {
    height: 100%;
    width: 23%;
    display: table-cell; vertical-align: middle;
    border: #616A6B 1px solid;
}

#op3 {
    height: 16%;
    width: 100%;
    display: table;
    font-size: 2rem;
}

#op3 div {
    height: 100%;
    width: 23%;
    display: table-cell; vertical-align: middle;
    border: #616A6B 1px solid;
}

#op4 {
    height: 16%;
    width: 100%;
    display: table;
    font-size: 2rem;
}

#op4 div {
    height: 100%;
    width: 23%;
    display: table-cell; vertical-align: middle;
    border: #616A6B 1px solid;
}

#op5 {
    height: 16%;
    width: 100%;
    display: table;
    font-size: 2rem;
}

#op5 div {
    height: 100%;
    width: 23%;
    display: table-cell; vertical-align: middle;
    border: #616A6B 1px solid;
}

#op5 #cero {
    width: 45.5%;
    display: table-cell; vertical-align: middle;
    border: #616A6B 1px solid;
}

.color {
    background-color: #DC7633;
}

button{
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
    background: transparent;
    font-size: 20px;
}
 button:hover{
    background-color: orange;
    color: white;
} 